@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}




.animate-letter-1 {
  animation: letterGlow 1s ease-in-out infinite;
  animation-delay: 0s;
}

.animate-letter-2 {
  animation: letterGlow 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.animate-letter-3 {
  animation: letterGlow 1s ease-in-out infinite;
  animation-delay: 0.4s;
}

.animate-letter-4 {
  animation: letterGlow 1s ease-in-out infinite;
  animation-delay: 0.6s;
}
@keyframes letterGlow {
  0% { opacity: 0.8; filter: drop-shadow(0 0 0px #3b82f6); }
  50% { opacity: 1; filter: drop-shadow(0 0 6px #60a5fa); }
  100% { opacity: 0.8; filter: drop-shadow(0 0 0px #3b82f6); }
}
html {
  scroll-behavior: smooth;
}
/* Ürünler önizleme – otomatik kayan bar animasyonu */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
